doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/cart.css')
        script(src="https://kit.fontawesome.com/d66b1d76b9.js" crossorigin='anonymous') 
block head
body
.header
    span
        a.icon(href="/customer/menu")
            icon.fas.fa-chevron-left
    span.hi CONFIRM & PAY
br
hr
h2 Your Order :
br

if(products)
    if(totalPrice>0.2)
    
        each product in products
            if(product.qty!=0)
                .product_in_cart
                    span #{product.qty} X  #{product.item.snack_name}
                    span.price $ #{product.price.toFixed(2)}
                    br
                    br
                    br
                    form(method="get" action=("delete-from-cart/" +  product.item.id ))
                        button.addToCart delete
        br
        br
        hr
        br
        br
        span.total subtotal inc tax 
        span.ttprice $ #{totalPrice.toFixed(2)}
        br
        br
        span.total surcharge 
        span.ttprice $0.00
        br
        br
        span.total total : 
        span.ttprice $ #{totalPrice.toFixed(2)}
        br
        br
        br
        br
        br
        br
        form(action = '/customer/menu/cart', method = "POST")         
            input(type="hidden" name="products" value=products)
            input(type="hidden" name="totalPrice" value=totalPrice.toFixed(2))
            input(type="hidden" name="CustomerInfo" value=user)
            input(type="hidden" name="CustomerID" value=user.userID)
            
            .buttonContainer
                button.btn(type="complete") PROCEED TO CHECK OUT
    else 
        p OOPS, YOUR CART IS EMPTY
        


form(action = '/customer/menu/cart', method = "POST")         
    input(type="hidden" name="products")
    input(type="hidden" name="totalPrice")
    input(type="hidden" name="CustomerInfo" value="default_customer")